body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f7fa;
  font-family: Arial, sans-serif;
}

.auth-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 320px;
}

input,
select,
button {
  display: block;
  width: 92%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

input, select {
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
}

select:focus, input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

button {
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

.role-label {
  font-weight: 100;
  color:#d00000;
  display: block;
  margin-top: 10px;
}
